.strength-section {
  width: 30px;
  height: 10px;
  display: inline-block;
  margin: 2px;
}

.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}