<input
  type="password"
  [(ngModel)]="password"
  (input)="checkPasswordStrength()"
/>

<div
  class="strength-section"
  [ngClass]="{
    gray: password === '',
    red: password.length < 8,
    yellow: password.length >= 8 && password.length < 12,
    green: password.length >= 12
  }"
></div>
<div
  class="strength-section"
  [ngClass]="{
    gray: password === '' || password.length < 8,
    yellow: password.length >= 8 && password.length < 12,
    green: password.length >= 12
  }"
></div>
<div
  class="strength-section"
  [ngClass]="{
    gray: password === '' || password.length < 8 || password.length < 12,
    green: password.length >= 12
  }"
></div>
